PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=*
YTDLP_BINARY=yt-dlp
FFMPEG_BINARY="C:\ffmpeg\bin\ffmpeg.exe"
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=30
INSTAGRAM_SESSIONID=42325818072%3AdCcVQJBgpPmt7u%3A27%3AAYged688plkz8TwYo0JwJ4MgjQZxWYrSpTDzA4EtrEA